<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="container">
    <header>
      <code>{{header}} <small>{{version}}</small></code>
    </header>
    <div id="content">
      {{#each content.sections}}
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
      {{/each}}
    </div>
  </div>
</body>
</html>
