<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <code>{{header}} <small>{{version}}</small></code>
      </header>
      {{#each sections}}
        <h3>{{title}}</h3>
        <p>{{content}}</p>
      {{/each}}
    </div>
  </body>
</html>
